@import './src/styles.scss';

.dialog-container {
    width: 400px;

    .body-container {
        display: flex;
        flex-direction: column;
        padding: 24px 0;

        mat-form-field {
            padding-bottom: 0.5em;
            border-radius: 4px;

            mat-chip {
                color: var(--text-color);
                background-color: rgba(255, 255, 255, 0.1);

                mat-icon {
                    color: var(--text-color);
                }
            }

            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px var(--darker) inset !important;
                -webkit-text-fill-color: var(--text-color) !important;
            }
        }

        mat-form-field:first-child {
            margin-bottom: 1em;
        }
    }

    .button-row {
        display: flex;
        flex-direction: row;
        background-color: var(--darker);
        margin: 0 -24px -24px -24px;
        padding: 0.5em 1em;

        button {
            color: var(--text-color);
            text-transform: uppercase;
            &:not(:first-child) {
                margin-left: 1em;
                background-color: rgba(255, 255, 255, 0.05);
            }
            &:first-child {
                margin-left: auto;
            }
        }
    }
}
