<div>
    <button
        (click)="selectEllipse()"
        [ngClass]="{ active: getCurrentTool() === 'ellipse' }"
        matTooltip="ellipse (2)"
        matTooltipPosition="right"
        matTooltipClass="tooltip right"
    >
        <i class="far fa-circle"></i>
    </button>

    <div class="popup" #popup [ngStyle]="{ display: getCurrentTool() != 'ellipse' ? 'none' : 'block' }">
        <div class="popup-header">
            <div id="header" class="flex items-center text-white uppercase text-spaced pl-3 ml-auto bg-black">
                <label>Paramètres</label>
                <button class="close-button" (click)="closeParametre()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="contenue">
                <label>Épaisseur du contour (px): {{ ellipseWidth }}</label>
                <mat-slider
                    id="epaisseurSlider"
                    [max]="ELLIPSE_MAX_WIDTH"
                    [min]="ELLIPSE_MIN_WIDTH"
                    [(ngModel)]="ellipseWidth"
                    (input)="changeEllipseWidthSlider($event)"
                ></mat-slider>
                <hr />
                <label
                    >Type de tracé:
                    <select id="typeSelector" (change)="changeTraceType($event.target.value)" style="width: 50%">
                        <option value="0">Contour</option>
                        <option value="1">Plein</option>
                        <option value="2">Plein avec contour</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
</div>
